/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
@font-face {
  font-family: 'Aileron-light';
  src: url("../fonts/Aileron-light.eot");
  src: url("../fonts/Aileron-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Aileron-light.woff") format("woff"), url("../fonts/Aileron-light.ttf") format("truetype"), url("../fonts/Aileron-light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron-Regular';
  src: url("../fonts/Aileron-Regular.eot");
  src: url("../fonts/Aileron-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Aileron-Regular.woff") format("woff"), url("../fonts/Aileron-Regular.ttf") format("truetype"), url("../fonts/Aileron-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron-SemiBold';
  src: url("../fonts/Aileron-SemiBold.eot");
  src: url("../fonts/Aileron-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aileron-SemiBold.woff") format("woff"), url("../fonts/Aileron-SemiBold.ttf") format("truetype"), url("../fonts/Aileron-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron-Bold';
  src: url("../fonts/Aileron-Bold.eot");
  src: url("../fonts/Aileron-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aileron-Bold.woff") format("woff"), url("../fonts/Aileron-Bold.ttf") format("truetype"), url("../fonts/Aileron-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Aileron-Light";
  font-size: 17px;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.icon-top-nav {
  width: 18px;
  height: 19px;
  background-image: url(../img/icons/topnav.png);
}
.icon.icon-top-nav.icon-light {
  background-position: 0 0;
}
.icon.icon-top-nav.icon-star {
  background-position: 0 -22px;
}
.icon.icon-top-nav.icon-stat {
  background-position: 0 -41px;
}
.icon.icon-top-nav.icon-price {
  background-position: 0 -60px;
}
.icon.icon-top-nav.icon-contacts {
  background-position: 0 -80px;
}

/* Layout related stylesheets* */
.top-nav {
  height: 53px;
  background-image: url(../img/bg/topnav.jpg);
  background-size: cover;
  position: relative;
}
.top-nav:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
.top-nav-list {
  height: 53px;
  padding-top: 18px;
  text-align: right;
}
.top-nav-list li {
  display: inline-block;
  margin-left: 30px;
}
.top-nav-list li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
.top-nav-list li a:hover {
  opacity: .7;
}
.top-nav-list li a .icon {
  margin-right: 5px;
  margin-top: -3px;
}

.header {
  height: 900px;
  background-image: url(../img/bg/header.jpg);
  background-size: cover;
  background-position: bottom center;
  padding-top: 25px;
  position: relative;
}
.header:before, .header:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
.header:before {
  top: 5px;
}
.header:after {
  bottom: 7px;
}
.header-top:after {
  content: "";
  display: table;
  clear: both;
}
.header-top .logo {
  float: left;
}
.header-top .authorization {
  float: right;
  padding-top: 20px;
}
.header-top .authorization a {
  padding: 7px 10px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
.header-top .authorization a.signup {
  margin-left: 5px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.header-top .authorization a.signup:hover {
  background: rgba(255, 255, 255, 0.3);
}
.header-content {
  padding-top: 95px;
  text-align: center;
  position: relative;
}
.header-content h1.main-title {
  font-family: "Aileron-Bold";
  font-size: 38px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 55px;
  position: relative;
}
.header-content h1.main-title:before, .header-content h1.main-title:after {
  content: '';
  position: absolute;
  bottom: -30px;
  width: 135px;
  height: 4px;
}
.header-content h1.main-title:before {
  right: 50%;
  background: #42b689;
}
.header-content h1.main-title:after {
  left: 50%;
  background: #3b4d59;
}
.header-content p.subtitle {
  padding: 0 10px;
  font-size: 23px;
  color: #ffffff;
  line-height: 1.2;
}
.header-content p.subtitle span {
  font-family: "Aileron-Regular";
  color: #f8e6b1;
}
.header-dialog {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 340px;
  height: 195px;
  background-image: url(../img/bg/header_dialog.png);
  display: table;
  padding-top: 20px;
  margin-top: 25px;
}
.header-dialog:after {
  content: '';
  position: absolute;
  top: -40px;
  left: 100%;
  width: 168px;
  height: 154px;
  background-image: url(../img/pointers/header_dialog.png);
}
.header-dialog-inner {
  display: table-cell;
  vertical-align: middle;
}
.header-dialog-inner p {
  font-size: 20px;
  font-family: "Aileron-Regular";
  color: #474f58;
  line-height: 1.2;
}
.header-dialog-inner p span {
  color: #22815c;
}
.header-dialog-inner p.value {
  font-size: 17px;
  color: #f15079;
}
