.clients-comments {
  background: #f4f4f4;
  padding: 65px 0;

  .carousel {
    text-align: center;

    .client-avatar {
      width: 139px;
      height: 139px;
      @include border-radius(50%);
      margin: 0 auto;
      position: relative;

      &:after {
        content: '';
        width: 43px;
        height: 45px;
        background: url(../img/icons/quote.png) no-repeat;
        position: absolute;
        top: 5px;
        right: -8px;
      }
    }

    .carousel-control {
      background: none;

      span {
        top: 50%;
        left: 0;
        position: absolute;
        margin-top: -19px;
        width: 21px;
        height: 39px;
        background: url(../img/icons/arrows.png) no-repeat;
      }

      &.right {

        span {
          background-position: -21px 0;
          right: 0;
          left: auto;
        }
      }
    }

    .client-quote {
      font-size: 30px;
      color: #353535;
      line-height: 1.3;
      width: 660px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}