.header {
	min-height: 900px;
	background-image: url(../img/bg/header.jpg);
	background-size: cover;
	background-position: bottom center;
	padding-top: 25px;
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 0;
		border-bottom: 1px dashed rgba(255,255,255,.5);
	}
	&:before {
		top: 5px;
	}
	&:after {
		bottom: 7px;
	}
	&-top {
		@include clearfix;
		.logo {
			float: left;
		}
		.authorization {
			float: right;
			padding-top: 20px;
			a {
				padding: 7px 10px;
				display: inline-block;
				text-decoration: none;
				color: $white;
				&.signup {
					margin-left: 5px;
					border: 1px solid $white;
					background: rgba(255,255,255,.1);
					@include border-radius (5px);
					&:hover {
						background: rgba(255,255,255,.3);
					}
				}
			}
		}
	}
	&-content {
		padding-top: 95px;
		text-align: center;
		position: relative;
		h1.main-title {
			font-family: $bold;
			font-size: 38px;
			color: $white;
			text-transform: uppercase;
			margin-bottom: 55px;
			position: relative;
			&:before, &:after {
				content: '';
				position: absolute;
				bottom: -30px;
				width: 135px;
				height: 4px;
			} 
			&:before {
				right: 50%;
				background: #42b689;
			} 
			&:after {
				left: 50%;
				background: #3b4d59;
			}			
		}
		p.subtitle {
			padding: 0 10px;
			margin-bottom: 15px;
			font-size: 23px;
			color: $white;
			line-height: 1.2;
			span {
				font-family: $regular;
				color: #f8e6b1;
			}
		}
	}
	&-dialog {
		position: absolute;
		top: 100%;
		right: 210px;
		width: 340px;
		height: 195px;
		background-image: url(../img/bg/header_dialog.png);
		display: table;
		padding-top: 20px;
		margin-top: 25px;
		&:after {
			content: '';
			position: absolute;
			top: -50px;
			left: 100%;
			width: 168px;
			height: 154px;
			background-image: url(../img/pointers/header_dialog.png);
		}
		&-inner {
			display: table-cell;
			vertical-align: middle;
			p {
				font-size: 20px;
				font-family: $regular;
				color: #474f58;
				line-height: 1.2;	
				span {
					color: #22815c;
				}
				&.value {
					font-size: 17px;
					color: #f15079;
				}
			}
		}
		@media #{$desktop} {
			right: 155px;
		}
		@media #{$mobile} {
			right: -20px;
			@include transform (scale(0.8));
			&:after {
				content: none;
			}
		}
	}
	@media #{$mobile} {
		overflow: hidden;
		padding-bottom: 240px;
		&-top {
			.logo, .authorization {
				float: none;
				text-align: center;
			}
		}
	}
}