.pricing-plans {
  padding: 90px 0 100px;
  
  @media #{$mobile640} {
    padding-left: 15px;
    padding-right: 15px;

    .container {
      padding: 0;
      overflow-x: scroll;
    }
  }

  .pricing-table {
    width: 100%;
    @include border-radius(6px);
    overflow: hidden;
    background: url(../img/bg/table-bg.png);
    background-position: center;
    @include background-size(cover);

    @media #{$mobile640} {
      width: 610px;
    }
  }

  th {
    text-transform: uppercase;
    text-align: center;
    height: 80px;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 24px;

    span:after {
      content: '';
      display: block;
      width: 12px;
      height: 4px;
      @include border-radius(5px);
      background: $white;
      margin: 5px auto -10px;
    }

    @media #{$tablet} {
      font-size: 18px;
      height: auto;
      padding: 20px 0;
    }
  }

  .plans {
    background: #fff;
    font-size: 32px;
    font-family: $semibold;
    color: #282828;
    text-align: left;
    width: 430px;
    padding-left: 20px;

    @media #{$desktop} {
      width: 330px;
    }

    @media #{$tablet} {
      width: 200px;
      font-size: 24px;
      padding: 0 10px;
    }
  }

  .free {
    background: #bab9b9;
    font-family: $bold;
    color: $white;
    width: 190px;
    @include border-radius(5px 0 0 0);

    @media #{$desktop} {
      width: 150px;
    }

    @media #{$tablet} {
      width: auto;
    }
  }

  .premium {
    background: #e5b444;
    font-family: $bold;
    color: $white;
  }
  .concierge {
    background: #3dad82;
    font-family: $bold;
    color: $white;
    @include border-radius(0 5px 0 0);
  }

  tbody {
    @include border-radius(8px 0 0 0);
    border: 1px solid #d6d7d7;
    border-bottom: none;

    td {
      font-size: 24px;
      vertical-align: middle;
      padding-left: 20px;
      color: #484848;
      padding: 13px 20px;
      border-right: 1px dashed #d6d7d7;
      border-bottom: 1px dashed #acacac;
      line-height: 1.2;

      @media #{$tablet} {
        font-size: 18px;
        padding: 10px;
      }

      &:last-of-type {
        border-right: 3px solid #d6d7d7;
      }

      .egg {
        width: 21px;
        height: 31px;
        display: block;
        margin: 0 auto;
        background: url(../img/icons/egg-icon.png);
        background-repeat: no-repeat;

        &.active {
          background-position: -21px 0;
        }
      }

      .info {
        display: inline-block;
        margin-left: 8px;
        cursor: pointer;

        img {
          display: block;
        }
      }
    }
  }

  tfoot {
    td {
      background: #ecf1f2;
      border-right: 1px dashed #d6d7d7;
      color: #292929;
      text-align: center;
      vertical-align: middle;
      line-height: 1.2;
      padding: 21px 0;
      border-bottom: 2px solid #d6d7d7;

      @media #{$tablet} {
        padding: 12px 0;
      }


      &:first-of-type {
        border-left: 2px solid #d6d7d7;
      }

      &:last-of-type {
        border-right: 2px solid #d6d7d7;
      }

      .price {
        font-size: 28px;
        
        @media #{$tablet} {
          font-size: 20px;
        }
      }

      .text {
        font-size: 18px;

        &:after {
          content: '';
          display: block;
          width: 12px;
          height: 4px;
          @include border-radius(5px);
          margin: 15px auto 0;

          @media #{$tablet} {
            margin-top: 7px;
          }
        }

        &.text-free:after {
          background: #bcbcbc;
        }

        &.text-premium:after {
          background: #e5b444;
        }

        &.text-concierge:after {
          background: #3dad82;
        }

        @media #{$tablet} {
          font-size: 16px;
        }
      }

      .price-group {
        display: inline-block;


        &:first-of-type {
          padding-right: 20px;
          border-right: 1px solid #c5c5c5;

          @media #{$tablet} {
            padding-right: 10px;
          }
        }

        &:last-of-type {
          padding-left: 20px;

          @media #{$tablet} {
            padding-left: 10px;
          }
        }
      }
    }
  }
}