.sign-me-up {
	background-image: url(../img/bg/signmeup.jpg);
	background-size: cover;
	padding: 110px 0 125px;
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 10px;
	}
	&:before {
		top: 0;
		background: rgba(0,0,0,.1);
	}
	&:after {
		bottom: 0;
		background: rgba(231,182,75,.8);
	}
	&-content {
		text-align: center;
		h2 {
			color: $white;
		}
		p {
			width: 875px;
			margin: auto;
			font-size: 30px;
			color: $white;
			margin-bottom: 25px;
		}
		.form-holder {
			width: 875px;
		}
		@media #{$tablet} {
			p {
				width: 100%;
			}
			.form-holder {
				width: 100%;
			}
		}
	}
}