body {
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder      {
  color: #999999;
}
