@font-face {
    font-family: 'Aileron-light';
    src: url('../fonts/Aileron-light.eot');
    src: url('../fonts/Aileron-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-light.woff') format('woff'),
         url('../fonts/Aileron-light.ttf') format('truetype'),
         url('../fonts/Aileron-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-Regular';
    src: url('../fonts/Aileron-Regular.eot');
    src: url('../fonts/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Regular.woff') format('woff'),
         url('../fonts/Aileron-Regular.ttf') format('truetype'),
         url('../fonts/Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('../fonts/Aileron-SemiBold.eot');
    src: url('../fonts/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-SemiBold.woff') format('woff'),
         url('../fonts/Aileron-SemiBold.ttf') format('truetype'),
         url('../fonts/Aileron-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/Aileron-Bold.eot');
    src: url('../fonts/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Bold.woff') format('woff'),
         url('../fonts/Aileron-Bold.ttf') format('truetype'),
         url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: $light;
  	font-size: 17px;
    padding-top: 53px;
    @media #{$mobile} {
        padding-top: 0;
    }
}

h2 {
    font-size: 32px;
    font-family: $semibold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.form-holder {
    width: 740px;
    height: 50px;
    margin: auto;
    overflow: hidden;
    position: relative;
    @include border-radius (5px);
    ::-webkit-input-placeholder {
        color: #f6cad3;
    }
    ::-moz-placeholder {
        color: #f6cad3;
    }
    :-moz-placeholder {
        color: #f6cad3;
    }
    :-ms-input-placeholder {
        color: #f6cad3;
    }
    input[type="text"] {
        width: 100%;
        height: 50px;
        background: $white;
        border: none;
        outline: none;
        padding-left: 15px;
        padding-right: 295px;
        font-size: 23px;
        text-align: center;
        @include box-shadow (inset 0 1px 3px rgba(0,0,0,.3));
    }
    .btn {
        position: absolute;
        top: 0;
        z-index: 10;
        &.btn-light-green {
            width: 230px;
            right: 50px;
            font-size: 19px;
            text-transform: uppercase;
            padding: 12px 0;
        }
        &.btn-dark-green {
            width: 50px;
            right: 0;
            padding: 13px 0 10px;
        }
    }
    @media #{$mobile} {
        width: 100%;
        height: 100px;
        input[type="text"] {
            padding: 0 15px;
        }
        .btn {
            top: 50px;
            &.btn-light-green {
                right: 100px;
                width: calc(100% - 100px);
            }
            &.btn-dark-green {
                width: 100px;
            }
        }
    }
}