$light: 'Aileron-Light';
$regular: 'Aileron-Regular';
$semibold: 'Aileron-Semibold';
$bold: 'Aileron-Bold';

$black: #000000;
$white: #ffffff;

$desktop: "only screen and (max-width : 1199px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";
$mobile640: "only screen and (max-width : 639px)";
$mobile480: "only screen and (max-width : 479px)";


